fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
python-jose[cryptography]
bcrypt
aiosmtplib
shap
numpy
pandas
xgboost
scikit-learn
httpx
scapy
python-json-logger
python-multipart
prometheus-client
pymongo
